<%= form_with(model: ttd) do |form| %>
  <% if ttd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ttd.errors.count, "error") %> prohibited this ttd from being saved:</h2>

      <ul>
        <% ttd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :phnumber %>
    <%= form.text_field :phnumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
